@import "./partials/classes";
@import "./partials/mixins";
@import "./partials/variables";

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0;
}
body {
  position: relative;
  background-color: $bg-black;
  max-width: 1560px;
  @extend .flex-col;
  .container {
    width: 100%;
    header {
      background-image: linear-gradient(
          130deg,
          rgba(0, 0, 0, 0.6839110644257703) 11%,
          rgba(0, 0, 0, 0.11808473389355745) 66%
        ),
        url("../image/jokerCover.jpg");
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
      height: 650px;
      width: 100%;
      background-size: cover;
      background-position: center;
      .content {
        color: $text-white;
        nav {
          height: 48px;
          @extend .flex-row;
          align-items: center;
          justify-content: space-between;
          .logo {
            cursor: pointer;
            @extend .flex-row;
            align-items: center;
            font-size: 16px;
            .logo-text {
              @extend .flex-col;
            }
            span {
              text-transform: uppercase;
              font-family: "Lato", sans-serif;
              font-weight: 700;
            }
            .span-first {
              color: red;
              font-size: 36px;
            }
            .span-last {
              @extend .logo-red-text;
            }
          }
          .links {
            a {
              font-weight: 300;
              color: rgba(255, 255, 255, 0.918);
              text-decoration: none;
              font-family: $font-lato;
              font-size: 16px;
              padding: 10px 15px;
              font-weight: 400;
              letter-spacing: -1px;
            }
          }
          .account {
            @extend .flex-row;
            gap: 2rem;
          }
        }
        // search box start
        .search-box {
          font-family: $font-lato;
          @extend .flex-col;
          align-items: center;
          div {
            @extend .flex-row;
            background-color: rgba(44, 44, 44, 0.705);
            margin-top: 10px;
            border-radius: 50px;
            position: relative;
            .games {
              @extend .flex-row;
              margin-top: 0;
              cursor: pointer;
              background-color: transparent;
              padding: 20px 25px;
              gap: 0.5rem;
              color: rgb(201, 201, 201);
              &:hover{
                color:$text-white
              }
              &:nth-child(1){
                margin-top:-5px;
                .active{
                  display: none;
                
                }
                .search-result {
                  opacity: 1;
                  background-color: transparent;
                  position: absolute;
                  top: 120px;
                  left: 0;
                  right: 0;
                  z-index: 100;
                  // added 
                  width: 100%;
                  height: 100vh;
                  margin: auto;
                  @extend .flex-col;
                  align-items: center;
                  font-family: $font-lato;
                  .active{
                    display: none;
                  }
        
                  .search-content {
                    background-color: rgba(248, 248, 248, 0.137);
                    margin-top: 10px;
                    border-radius: 10px;
                    backdrop-filter: blur(10px);
                    width: 600px;
                    padding-bottom: 15px;
                  
                    .search-heading {
                      background-color: transparent;
                      div {
                        width: 550px;
                        // max-width: 560px;
                        backdrop-filter: blur(10px);
                        padding: 10px 15px;
                        border-radius: 10px;
                        @extend .flex-row;
                        margin: 20px;
                        justify-content: space-between;
                      }
                    }
                    .search-items {
                      padding: 0 25px;
                      display: grid;
                      grid-template-columns: repeat(3, 1fr);
                      gap: 1rem;
                      
                      background-color: transparent;
                      .single-item {
                        padding: 5px;
                        transition-delay: 0.03s;
                        transition-duration: 0.3s;
                        background-color: transparent;
                        margin: 0;
                        &:hover{
                          background-color: rgba(218, 218, 218, 0.315);
                          border-radius: 50px;
                          margin: 0;
                        }
                        cursor: pointer;
                        @extend .flex-row;
                        align-items: center;
                        gap: 0.5rem;
                        img {
                          height: 45px;
                          width: 45px;
                          border-radius: 50%;
                        }
                      }
                    }
                  }
                  
                }
              }
            }
            .game-search {
              margin: 0;
              padding-top: 17px;
              padding-left: 17px;
              cursor: pointer;
              font-size: 20px;
              width: 55px;
              height: 55px;
              @extend .linear-gradient;
              color: white;
              
            }
            .active{
              position: absolute;
              right:-30px;
              background-color: orange;
              width: 110%;
            }
          }
        }
        // search box end
      }
      // navigation section done
      // Cover Text

      .coverText {
        color: white;
        font-family: "Lato", sans-serif;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 400px;
        // cover left content
        .cover-left {
          flex: 1;
          @extend .flex-col;
          gap: 0.5rem;
          p {
            width: 100px;
            padding: 8px 10px;
            border-radius: 5px;
            font-weight: 400;
            // display: inline-block;
            background-color: rgba(240, 248, 255, 0.219);
          }
          h1 {
            font-size: 32px;
            font-weight: 700;
          }
          div {
            display: flex;
            .trapezoid {
              @extend .linear-gradient;
              padding: 5px;
              height: 110px;
              width: 50px;
              border-radius: 5px;
              -webkit-clip-path: polygon(0 0, 82% 0, 100% 26%, 0 26%);
              clip-path: polygon(0 0, 82% 0, 100% 26%, 0 26%);
            }
          }
        }
        // cover right content
        .cover-right {
          flex: 1;
          p {
            text-transform: uppercase;
            background-color: rgba(37, 37, 37, 0.699);
            letter-spacing: 5px;
            display: inline-block;
            padding: 10px 25px;
          }
        }
      }
    }
    main {
      margin-top: 50px;
      color: $text-white;
      font-family: $font-lato;
      .text {
        @extend .flex-row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
        p {
          border: 1px solid gray;
          padding: 10px;
          border-radius: 5px;
        }
      }
      .showcase {
        .showcase-content {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 1rem;
          img {
            width: 300px;
            height: 200px;
            object-fit: cover;
          }
        }
      }
    }
  }
}
