.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.logo-red-text {
  transform: rotate(90deg);
  border: 1px solid red;
  padding: 2px;
  display: inline;
  height: 20px;
}

.linear-gradient{
background: rgb(255,196,26);
background: -moz-linear-gradient(45deg, rgba(255,196,26,1) 3%, rgba(254,118,4,1) 56%);
background: -webkit-linear-gradient(45deg, rgba(255,196,26,1) 3%, rgba(254,118,4,1) 56%);
background: linear-gradient(45deg, rgba(255,196,26,1) 3%, rgba(254,118,4,1) 56%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc41a",endColorstr="#fe7604",GradientType=1);
}
.trapezoid {
  @extend .linear-gradient;
  padding: 5px;
  height: 110px;
  width: 50px;
  border-radius: 5px;
  -webkit-clip-path: polygon(0 0, 82% 0, 100% 26%, 0 26%);
  clip-path: polygon(0 0, 82% 0, 100% 26%, 0 26%);
}